<header class="hero container">
  <h1>
    <span class="cyan">2024</span>
    <span class="yellow">Annual</span>
    <span class="orange">Report</span>
  </h1>
  <div class="hero-section">
    <div class="hero-col">
      {% include components/hero-card.html
        color="navy"
      %}
      {% include components/hero-card.html
        color="blue"
      %}
      {% include components/hero-card.html
        color="navy"
      %}
    </div>
    <div class="hero-col">
      {% include components/hero-card.html
        color="orange"
        text="PRX programming aired on 844 public radio stations, reaching listeners in 99.4% of the US."
      %}
      {% include components/hero-card.html
        color="cyan"
        image="https://2023.prx.org/assets/generated/img/grid-center-480-32426e172.webp"
        alt="Description"
      %}
      {% include components/hero-card.html
        color="yellow"
        image="https://2023.prx.org/assets/generated/img/grid-center-480-32426e172.webp"
        alt="Description"
      %}
    </div>
    <div class="hero-col">
      {% include components/hero-card.html
        color="orange"
        text="PRX programming aired on 844 public radio stations, reaching listeners in 99.4% of the US."
      %}
      {% include components/hero-card.html
        color="cyan"
        image="https://2023.prx.org/assets/generated/img/grid-center-480-32426e172.webp"
        alt="Description"
      %}
      {% include components/hero-card.html
        color="yellow"
        image="https://2023.prx.org/assets/generated/img/grid-center-480-32426e172.webp"
        alt="Description"
      %}
    </div> 
    <div class="hero-col">
      {% include components/hero-card.html
        color="orange"
        text="PRX programming aired on 844 public radio stations, reaching listeners in 99.4% of the US."
      %}
      {% include components/hero-card.html
        color="cyan"
        image="https://2023.prx.org/assets/generated/img/grid-center-480-32426e172.webp"
        alt="Description"
      %}
      {% include components/hero-card.html
        color="yellow"
        image="https://2023.prx.org/assets/generated/img/grid-center-480-32426e172.webp"
        alt="Description"
      %}
    </div> 
    <div class="hero-col">
      {% include components/hero-card.html
        color="blue"
      %}
      {% include components/hero-card.html
        color="navy"
      %}
      {% include components/hero-card.html
        color="blue"
      %}
    </div>   
  </div>
</header>
