<section id="top" class="hero">
  <h1>
    <span class="cyan">2024</span>
    <span class="yellow">Annual</span>
    <span class="orange">Report</span>
  </h1>
  <div class="hero-card-grid">
    <!-- First Row -->
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html image="img/hero/rt1.jpg" alt="Alt Text..." %} <!-- Center Column -->
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    <!-- second Row -->
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %} <!-- Center Column -->
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    <!-- Third Row -->
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %} <!-- Center Column -->
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
    {% include components/hero-card.html %}
  </div>
</section>
