<section id="page-{{ page.prx-id }}" class="container show-page">
  <div class="show-grid">
    <h2 class="show-header">{{ page.title }}</h2>
    
    <div class="show-featured">
      {%- if page.logo -%}
        {% include components/show-logo.html 
          image=page.logo.url 
          alt=page.logo.alt
        %}
      {%- endif -%} 
    
      {%- if page.quote -%}
      <div class="show-quote">
        {% include components/quote.html 
          text=page.quote.text 
          citation=page.quote.citation
        %}
      </div>  
      {%- endif -%}

      {%- if page.audio -%}
      <div class="show-audio">
        {% include components/audio-inline.html 
          url=page.audio.url
          title=page.audio.title
        %}
      </div>  
      {%- endif -%} 
    </div>
    <div class="show-content">
      {{ page.content }}

      {%- if page.funders -%}
        <h3>Sponsored By:</h3>
        <p>{{ page.funders }}</p>
      {%- endif -%} 
    </div>

    <div class="show-footer">
      {%- if page.donor-quote -%}
        <div class="donor-quote">
          {% include components/quote.html 
            text=page.donor-quote.text 
            citation=page.donor-quote.citation
          %}
        </div>
      {%- endif -%} 
    </div>
  </div>
</section>
