.btn {
  display: flex;
  align-items: center;
  gap: 0.25rem; 
  padding: 0.5rem;
  border-radius: 10px;
  color: $navy;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;

  &:hover {
    cursor: pointer;
  }

  &.white {
    background-color: $white;
  }

  &.cyan {
    background-color: $cyan;

    &:hover {
      background-color: $light-blue;
    }
  }

  &.yellow {
    background-color: $yellow;

    &:hover {
      background-color: $light-yellow;
    }
  }

  &.orange {
    background-color: $orange;

    &:hover {
      background-color: $light-orange;
    }
  }

  &.blue {
    background-color: $blue;
  }
}

a:link,
a:visited {
  &.btn {
    color: $navy;
  }
}
