.btn {
  display: flex;
  align-items: center;
  gap: 0.25rem; 
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--navy);
  
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;

  &:hover {
    cursor: pointer;
  }

  &.white {
    background-color: var(--white);
  }

  &.cyan {
    background-color: var(--cyan);

    &:hover {
      background-color: var(--light-blue);
    }
  }

  &.yellow {
    background-color: var(--yellow);

    &:hover {
      background-color: var(--light-yellow);
    }
  }

  &.orange {
    background-color: var(--orange);

    &:hover {
      background-color: var(--light-orange);
    }
  }

  &.blue {
    background-color: var(--blue);
  }
}
