.footer {
  padding: 1rem;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    width: 100%;
    max-width: 800px;
    color: $gray;
    text-align: center;
    
    p {
      font-size: .875rem;
      margin-bottom: 1rem;
    }
  }

  a:link,
  a:visited {
    color: $cyan;
  }
}
