body {
  background-color: $white;
  font-family: 'Montserrat', sans-serif;
}

.container {
  min-height: 80vh;

  &.navy {
    background-color: $navy;
    color: $white;
  }
}

h2 {
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: .5rem;
}

.p-2 {
 padding: 0.5rem;
}

.py-4 {

}

.p-4 {
  padding: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.hidden {
  display: none;
}

.-translate-x-full {
  transform: translateX(-100%);
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}


