body {
  background-color: $white;
  font-family: 'Montserrat', sans-serif;
}

.p-2 {
 padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}