.menu-item {
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.menu-link {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  color: var(--navy);
  text-decoration: none;

  &:link,
  &:visited {
    color: var(--navy);
  }

  &.icon {
    font-weight: bold;
    text-transform: uppercase;
  }

  &.white {
    background-color: var(--white);

    &:hover {
      background-color: var(--light-blue);
    }
  }

  &.cyan {
    background-color: var(--cyan);

    &:hover {
      background-color: var(--light-blue);
    }
  }

  &.yellow {
    background-color: var(--yellow);

    &:hover {
      background-color: var(--light-yellow);
    }
  }

  &.light-blue {
    background-color: var(--light-blue);

    &:hover {
      background-color: var(--cyan);
    }
  }
}
