.menu {
  margin: 0;
  padding: 0;
}

.menu-item {
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
  list-style: none;
}

.menu-link {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  color: $navy;
  text-decoration: none;

  &.icon {
    font-weight: bold;
    text-transform: uppercase;
  }

  &.white {
    background-color: $white;

    &:hover {
      background-color: $cyan-a-10;
    }
  }

  &.cyan {
    background-color: $cyan;

    &:hover {
      background-color: $cyan-a-10;
    }
  }

  &.yellow {
    background-color: $yellow;

    &:hover {
      background-color: $yellow-a-10;
    }
  }

  &.light-blue {
    background-color: $cyan-a-10;

    &:hover {
      background-color: $cyan;
    }
  }
}
