.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;

  .btn.cyan,
  .btn.yellow {
    margin-left: 0.5rem;
  }
}

.prx-logo {
  margin-left: 0.25rem;
}

#drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 16rem; /* 64 in Tailwind is 16rem */
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

#drawerBackdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
