.section-centered {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: calc(3rem + 56px) 3rem 3rem;
  overflow: hidden;
}

.content {
  position: relative;
  max-width: 800px;
  z-index: 200;

  p {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}
