.show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  background: var(--white);
  background: linear-gradient(180deg, var(--white) 0%, var(--light-yellow) 30%);

  &:nth-child(3n+2) {
    background: linear-gradient(180deg, var(--white) 0%, var(--light-orange) 30%);

    .show-logo img {
      box-shadow: 10px -10px 0px 0px var(--yellow), -10px 10px 0px 0px var(--cyan);
    }  
  }

  &:nth-child(3n+3) {
    background: linear-gradient(180deg, var(--white) 0%, var(--light-blue) 30%);

    .show-logo img {
      box-shadow: 10px -10px 0px 0px var(--yellow), -10px 10px 0px 0px var(--orange);
    }  
  }

  @media (min-width: 768px) {  
    &:nth-child(even) .show-grid {
      grid-template-columns: minmax(auto, 300px) auto;
      grid-template-areas: 
        "header header"
        "sidebar main";
    }  
  }
}

.show-grid {
  display: grid;
  max-width: 1200px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  grid-template-areas: 
  "header"
  "sidebar"
  "main";

  @media (min-width: 768px) {  
    grid-template-columns: auto minmax(auto, 300px) ;
    grid-template-areas: 
      "header header"
      "main sidebar";
  }    
}

.show-header {
  grid-area: header;
}

.show-content {
  grid-area: main;
}

.show-featured {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  text-align: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-areas: 
  "logo"
  "quote"
  "audio";

  @media (min-width:768px) and (max-width:960px) {
    grid-template-columns: auto minmax(auto, 300px) ;
    grid-template-areas: 
      "quote logo"
      "audio"
  }

  .show-logo {
    grid-area: logo;

    img {
      margin-bottom: 1rem;
      border-radius: 20px;
      width: 100%;
      max-width: 300px;
      box-shadow: 10px -10px 0px 0px var(--cyan), -10px 10px 0px 0px var(--orange);
    }
  }

  .show-quote {
    grid-area: quote;
  }

  .show-audio {
    grid-area: audio;
  }
}

.show-footer {
  padding: 3rem 0;
  max-width: 1800px;
}
