.show {
  --_show--gutter: var(--show--gutter, var(--content--gutter, 4rem));
  --_show--column-gap: var(--show--column-gap, var(--content---column-gap, 3rem));
  --_show--row-gap: var(--show--row-gap, var(--content---row-gap, 2rem));
  --_show--padding-y: var(--show--padding-y, var(--content--padding-y, 3rem));
  --_show--color: var(--show--theme-color, #{$yellow});
  --_show--bg--color--start: var(--show--bg--color--start, #{$white});
  --_show--bg--color--end: var(--show--bg--color--end, color-mix(in oklab, var(--_show--color) 10%, var(--_show--bg--color--start)));

  display: grid;
  grid-template-columns: [full-width-start] 1fr [extra-wide-start] calc(var(--_show--gutter) / 2) [wide-start] calc(var(--_show--gutter) / 2) [content-start] fit-content(900px) [content-end] calc(var(--_show--gutter) / 2) [wide-end] calc(var(--_show--gutter) / 2) [extra-wide-end] 1fr [full-width-end];
  justify-content: center;
  row-gap: var(--_show--row-gap);

  padding-block: var(--_show--padding-y);

  background: var(--_show--bg--color--start);
  background: linear-gradient(to bottom, var(--_show--bg--color--start) 0%, var(--_show--bg--color--end) 30%);

  & ~ & {
    --show--theme-color: #{$orange};
    --show-logo--accent--color1: #{$yellow};
    --show-logo--accent--color2: #{$cyan};
  }

  & ~ & ~ & {
    --show--theme-color: #{$cyan};
    --show-logo--accent--color1: #{$yellow};
    --show-logo--accent--color2: #{$orange};
  }

  @media (min-width: 768px) {
    --show--gutter: 6rem;
  }

  @media (min-width: 1600px) {
    --show--gutter: 12rem;
  }
}

.show-main {
  grid-column: content;

  container-name: show-main;
  container-type: inline-size;
}

.show-main--layout {
  display: grid;
  grid-template-areas: 
    "header"
    "sidebar"
    "main";
  column-gap: var(--_show--column-gap);
  row-gap: var(--_show--row-gap);

  @container show-main (width >= 900px) {
    grid-template-columns: minmax(auto, 300px) auto minmax(auto, 300px) ;
    grid-template-areas: 
      "header header sidebar"
      "main main sidebar";

      .show:nth-of-type(even) & {
        grid-template-areas: 
          "sidebar header header"
          "sidebar main main";
      } 
  }    
}

.show-header {
  grid-area: header;
}

.show-content {
  grid-area: main;
}

.show-sidebar {
  grid-area: sidebar;

  container-name: show-sidebar;
  container-type: inline-size;
}

.show-sidebar--layout {
  display: grid;
  justify-content: center;
  align-content: start;
  grid-template-areas: 
    "logo"
    "quote"
    "audio";
  column-gap: var(--_show--column-gap);
  row-gap: var(--_show--row-gap);

  text-align: center;

  @container show-sidebar (width >= 700px) {
    grid-template-columns: auto minmax(auto, 300px) ;
    grid-template-areas: 
      "quote logo"
      "audio audio";
    align-content: center;
    align-items: center;
  }
}

.show-logo {
  --_show-logo--accent--color1: var(--show-logo--accent--color1, #{$cyan});
  --_show-logo--accent--color2: var(--show-logo--accent--color2, #{$orange});
  
  grid-area: logo;

  img {
    margin-bottom: 1rem;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 10px -10px 0px 0px var(--_show-logo--accent--color1), -10px 10px 0px 0px var(--_show-logo--accent--color2);
  }
}

.show-quote {
  grid-area: quote;
}

.show-audio {
  grid-area: audio;
}

.show-footer {
  grid-column: full-width;

  display: grid;
  grid-template-columns: subgrid;
  row-gap: var(--_show--row-gap);
}

.show-mosaic {
  grid-column: content;
}

.show-donor-quote {
  grid-column: wide;
}

.show-featured-image {
  grid-column: full-width;

  container-type: inline-size;
  container-name: show-feature-image;

  picture {
    --_show-feature-image--border-radius: var(--show-feature-image--border-radius, 0);
    --_show-feature-image--padding-x: var(--show-feature-image--padding-x, 0);
  
    display: grid;
    justify-items: center;

    padding-inline: var(--_show-feature-image--padding-x);

    @container show-feature-image (width > 1600px) {
      --show-feature-image--border-radius: 20px;
      --show-feature-image--padding-x: var(--_show--padding-y);
    }
  }

  img {
    width: 100%;
    max-width: 1600px;
    height: 500px;
    max-height: 80vh;
    object-fit: cover;
    
    border-radius: var(--_show-feature-image--border-radius);
  }
}
