<li class="menu-item">
  {%- if include.icon -%}
    <a
      href="{{ include.href }}"
      class="menu-link icon {{ include.color }}"
      {%- if include.target -%}
        target="{{ include-target }}"
      {%- endif -%}
      {%- if include.campaign-id -%}
        data-donate-campaign-id="{{ include.campaign-id }}"
      {%- endif -%}
    >
      <span class="material-icons" aria-label="{{ include.aria-label }}">{{ include.icon }}</span>
      <span>{{ include.label }}</span>
    </a>
  {%- else -%}
    <a
      href="{{ include.href }}"
      class="menu-link {{ include.color }}"
    >{{ include.label }}</a>
  {%- endif -%}
</li>
