<footer>
  <p>You have reached the bottom of the report. <a href="#top">Go back to the top</a> to restart your adventure with PRX.</p>

  <p>Photos by Sidra Alani, Jason Falchook, Alexander Lim, Christopher McIntosh, Marcus Olang', Mark Riechers, Carl Simmons, Anastasia Vlasova, PRX staff.</p>
</footer>

<!--<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>-->

<script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript" src="assets/js/donation-modal.js"></script>
<!--<script type="text/javascript" src="assets/js/highcharts.js"></script>-->
