---
title: "Awards &amp; Press"
link:
  anchor: "awards-press"
  label: "Awards &amp; Press"
---

<div class="awards-link-list">
  <h4>Awards</h4>
  <ul class="link-list">
    {% for award in site.data.awards %}
    <li>
      <a target="_blank" href="{{ award.link }}">{{ award.label }}</a>
    </li>
    {% endfor %}
  </ul>

  <h4>Press</h4>
  <ul class="link-list">
    {% for press in site.data.press %}
    <li>
      <a target="_blank" href="{{ press.link }}">{{ press.label }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
