---
title: "Donor List"
link:
  anchor: "donor-list"
  label: "Donor List"
quote:
  text: "PRX gratefully acknowledges the many individuals, institutions, and foundations that have generously supported our programs and initiatives over the past year."
champions:
  - label: FJC - A Foundation of Philanthropic Funds
    location: New York, NY
  - label: Kelson Foundation
    location: San Francisco, CA
  - label: Roman Mars
    location: San Francisco, CA
transformers:
  - label: Harold and Colene Brown Family Foundation
    location: Beverly Hills, CA
  - label: Gavin/Solmonese LLC
    location: Wilmington, DE
  - label: Gruber Family Foundation
    location: San Francisco, CA
  - label: The Patchwork Collective
    location: Sonoma, CA
  - label: Amy Rao and Harry Plant
    location: San Francisco, CA
  - label: Liliane and Ed Schneider
    location: San Francisco, CA
changemakers:
  - label: Alice Shaver Charitable Trust
    location: Washington, D.C.
  - label: Betsy Atwater
    location: Santa Barbara, CA
  - label: Dodee and Billy Crockett
    location: Wimberley, TX
  - label: Katherine Harris and Tom Keyser
    location: North Oaks, MN
  - label: Judy Pigott
    location: Seattle, WA
  - label: Helen and Russell Pyne
    location: Atherton, CA
  - label: Sarlo Family Foundation
    location: Kentfield, CA
  - label: Maryanne Tagney
    location: Seattle, WA
ambassadors:
  - label: Anonymous
  - label: Henry Becton
    location: Boston, MA
  - label: Kathy Chan
    location: San Francisco, CA
  - label: Cindy Engles
    location: Naples, FL
  - label: Epic Systems Corporation
    location: Verona, WI
  - label: Firerose Fund of the Roots & Wings Foundation
    location: Seattle, WA
  - label: Kerri and Nelson Hoffman
    location: Northfield, VT
  - label: Lucy and Ken Lehman Family
    location: Evanston, IL
  - label: Dan Shih and Ted MacGovern
    location: Seattle, WA
  - label: Cindy and Howard Rachofsky
    location: Dallas, TX
  - label: Reis Foundation
    location: Columbia, MD
  - label: Rima Hyder and Camilo Villa
    location: Brookline, MA
  - label: Amanda Weitman
    location: San Rafael, CA
leaders:
  - label: Anonymous (4)
  - label: Stephanie Fox and Drew Britcher
    location: Saint Paul, MN
  - label: Richard Gingras
    location: Los Altos, CA
  - label: Nor Hall and Roger Hale
    location: Minneapolis, MN
  - label: Dan Kletter
    location: Mountain View, CA
  - label: Lisa and Peter Kraus
    location: Dallas, TX
  - label: Mailman Foundation
    location: New York, NY
  - label: Karla Martin
    location: San Francisco, CA
  - label: Katherine Wolf and Ashton Peery
    location: Lincoln, MA
  - label: Lizzie and Daniel Routman
    location: Dallas, TX
  - label: Betsy Gardella and Jim Smith
    location: Concord, MA
  - label: Frank Washington
    location: Sacramento, CA
  - label: Lawrence Wilkinson
    location: San Francisco, CA
  - label: The Robert Wood Johnson Foundation
    location: Princeton, NJ
  - label: Elizabeth Yoakum
    location: Sarasota, FL
creators:
  - label: Anonymous (3)
  - label: Shari Malyn and Jonathan Abbott
    location: Newton, MA
  - label: Steven Bercu
    location: Boston, MA
  - label: Carol Bouska
    location: Minneapolis, MN
  - label: Susan and David Coulter
    location: Darien, CT
  - label: Lynn and Bruce Dayton
    location: Boston, MA
  - label: Jené Elzie
    location: Wappingers Falls, NY
  - label: Jenji Kohan
    location: Los Angeles, CA
  - label: Cindy and Dan Lothian
    location: Boston, MA
  - label: Kyra and Peter McGrath
    location: Bala Cynwyd, PA
  - label: Dete and Paul Meserve
    location: Los Angeles, CA
  - label: The Miami Foundation
    location: Miami, FL
  - label: Oregon Community Foundation
    location: Portland, OR
  - label: Patagonia
    location: Ventura, CA
  - label: Jane Schmitz
    location: Los Angeles, CA
  - label: The Sternlicht Family Foundation
    location: Greenwich, CT
  - label: Cory Zanin
    location: Minneapolis, MN
advocates:
  - label: Anonymous (16)
  - label: Mary Elizabeth Alexander
    location: Lake Placid, NY
  - label: Serena Altschul
    location: New York, NY
  - label: Sara and Steven Bass
    location: Lake Oswego, OR
  - label: Rebecca Norlander
    location: Seattle, WA
  - label: Nicole and David Berger
    location: Evanston, IL
  - label: Michael Bien
    location: San Francisco, CA
  - label: Cindy and Peter Burnim
    location: Fairfield, CT
  - label: Pat Castaldo
    location: Portland, OR
  - label: Michael Choy
    location: Maplewood, NJ
  - label: Peggy Dear
    location: Dallas, TX
  - label: Paula and Cy DeCosse
    location: Minneapolis, MN
  - label: Catherine Dee
    location: Marblehead, MA
  - label: Rickie Eatherly
    location: Washington, DC
  - label: Jan Elizabeth
  - label: Rachel and Don Felix
    location: Boston, MA
  - label: Marion T. Flores
    location: Dallas, TX
  - label: Jacob Frank
    location: San Francisco, CA
  - label: Chris Gillis
    location: Ipswich, MA
  - label: Glasscock Heritage Trust
    location: Mount Pleasant, UT
  - label: Rich Gorelick
    location: Yardley, PA
  - label: Dan Hadley
    location: Los Angeles, CA
  - label: Leigh Ann Hahn
    location: Los Angeles, CA
  - label: Nancy Lundeen and Richard N. Hill
    location: San Francisco, CA
  - label: Steve Henn
    location: Palo Alto, CA
  - label: Judy Woodruff and Albert Hunt
    location: Washington, D.C.
  - label: Vicki and Michael Isip
    location: San Francisco, CA
  - label: Patrice F. and Cameron J.
    location: Chicago, IL
  - label: Jane Johnson
    location: San Mateo, CA
  - label: Joelle Chase and Peter Knipper
    location: Albuquerque, NM
  - label: The KRPL Family
    location: Singapore
  - label: Craig Landon
    location: Jerseyville, IL
  - label: Robert Lang
    location: Kensington, MD
  - label: Tina Cole and Mark Larson
    location: San Carlos, CA
  - label: Ronna Stamm and Paul Lehman
    location: Evanston, IL
  - label: Bia Lowe
    location: San Francisco, CA
  - label: Susan Harmon and Richard Meyer
    location: Seattle, WA
  - label: Kamrudin Mithani
    location: Richmond, TX
  - label: Ravi Mohan
    location: Larkspur, CA
  - label: Ann and John Newman
    location: San Antonio, TX
  - label: Eugene G. Park
    location: San Francisco, CA
  - label: Janet Tiampo and David Parker
    location: Boston, MA
  - label: Michelle Pepitone
    location: San Francisco, CA
  - label: Wendy Pollock
    location: Evanston, IL
  - label: William Raynolds
    location: Longmont, CO
  - label: Sharon G. and Robert L. Ryan
    location: Minneapolis, MN
  - label: Stephen Salyer
    location: Washington, DC
  - label: Curtis L. Scribner
    location: Oakland, CA
  - label: The Serendipitous Leverage Fund
    location: Minneapolis, MN
  - label: Elizabeth Hansen and Jake Shapiro
    location: Lexington, MA
  - label: Wendy Weiss and Stephen Shay
    location: Cambridge, MA
  - label: Fredericka and Howard Stevenson
    location: Boston, MA
  - label: Sherry and Tyler Steward
    location: Wauwatosa, WI
  - label: Lisa Schaures and Chris Stremlau
    location: Kirkland, WA
  - label: Carolyn Talcott
    location: Stanford, CA
  - label: Robin Torres
    location: United Arab Emirates
  - label: Alisa and Mike Wilson
    location: New York, NY
  - label: Jennifer Woodruff
    location: New York, NY
  - label: Irene Yen
  - label: Merle Kurzrock and George Zimmerman
    location: Riverside, CA
institutions-1mil:
  - label: Barr Foundation
  - label: The Corporation for Public Broadcasting
  - label: Meadow Fund
  - label: Mellon Foundation
  - label: John Templeton Foundation
institutions-250k:
  - label: Carnegie Corporation of New York
  - label: The Just Trust
  - label: The John S. & James L. Knight Foundation
  - label: The Henry Luce Foundation
  - label: Lumina Foundation
  - label: John D. & Catherine T. MacArthur Foundation
institutions-100k:
  - label: Arthur Vining Davis Foundations
  - label: Ford Foundation
  - label: National Endowment for the Arts
  - label: National Endowment for the Humanities
institutions-25k:
  - label: Anonymous
  - label: Ardmore Institute of Health
  - label: The Schmidt Family Foundation
  - label: United States - Japan Foundation
---
<div class="donor-container">
  <div class="donor-item">
    <h4>Champions—$100,000+</h4>
    <ul class="donor-list">
      {% for champion in page.champions %}
        {% include components/donor-list.html
          label=champion.label
          location=champion.location
        %}
      {% endfor %}
    </ul>
  </div>

  <div class="donor-item">
    <h4>Transformers—$50,000-$99,999</h4>
    <ul class="donor-list">
      {% for transformer in page.transformers %}
        {% include components/donor-list.html
          label=transformer.label
          location=transformer.location
        %}
      {% endfor %}
    </ul>
  </div>

  <div class="donor-item">
    <h4>Changemakers—$25,000-$49,999</h4>
    <ul class="donor-list">
      {% for changemaker in page.changemakers %}
        {% include components/donor-list.html
          label=changemaker.label
          location=changemaker.location
        %}
      {% endfor %}
    </ul>
  </div>

  <div class="donor-item">
  <ul class="donor-list">
    <h4>Ambassadors—$10,000-$24,999</h4>
    {% for ambassador in page.ambassador %}
      {% include components/donor-list.html
        label=ambassador.label
        location=ambassador.location
      %}
    {% endfor %}
  </ul>
  </div>

  <div class="donor-item">
    <h4>Leaders—$5,000-$9,999</h4>
    <ul class="donor-list">
      {% for leader in page.leaders %}
        {% include components/donor-list.html
          label=leader.label
          location=leader.location
        %}
      {% endfor %}
    </ul>
  </div>

  <div class="donor-item">
    <h4>Creators—$2,500 - $4,999</h4>
    <ul class="donor-list">
      {% for creator in page.creators %}
        {% include components/donor-list.html
          label=creator.label
          location=creator.location
        %}
      {% endfor %}
    </ul>
  </div>

  <div class="donor-item">
    <h4>Advocates—$1,000-$2,4999</h4>
    <ul class="donor-list">
      {% for advocate in page.advocates %}
        {% include components/donor-list.html
          label=advocate.label
          location=advocate.location
        %}
      {% endfor %}
    </ul>
  </div>

  <div class="donor-item">
    <h4>Institutions: $1,000,000+</h4>
    <ul class="donor-list">
      {% for institution in page.institutions-1mil %}
        {% include components/donor-list.html
          label=institution.label
        %}
      {% endfor %}
    </ul>
  </div>

  <div class="donor-item">
    <h4>Institutions: $250,000 - $999,000</h4>
    <ul class="donor-list">

      {% for institution in page.institutions-250k %}
        {% include components/donor-list.html
          label=institution.label
        %}
      {% endfor %}
    </ul>
  </div>

  <div class="donor-item">
    <h4>Institutions: $100,000 - $249,999</h4>
    <ul class="donor-list">
      {% for institution in page.institutions-100k %}
        {% include components/donor-list.html
          label=institution.label
        %}
      {% endfor %}
    </ul>
  </div>

  <div class="donor-item">
    <h4>Institutions: $25,000 - $99,999</h4>
    <ul class="donor-list">
      {% for institution in page.institutions-25k %}
        {% include components/donor-list.html
          label=institution.label
        %}
      {% endfor %}
    </ul>
  </div>
</div>
