---
title: "Finances"
link:
  anchor: "finances"
  label: "Finances"
---
<div class="financials">
  <div class="financials-section">
    <h2>Revenue</h2>
    {% for financial in site.data.financials %}
      {% if financial.type == "revenue" %}
        {% include components/financial-item.html %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="financials-section">
    <h2>Expenses</h2>
    {% for financial in site.data.financials %}
      {% if financial.type == "expense" %}
        {% include components/financial-item.html %}
      {% endif %}
    {% endfor %}
  </div>
</div>
