<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  {% include app/meta.html %}

  {%- feed_meta -%}

  {%- include app/head.html -%}

</head>

<body>
  {% include navbar/navbar.html %}
  {% include page-types/hero.html %}
  
  <section class="intro container navy">
    {% include components/show-tiles.html %}
    <div class="content">
      {{ content }}
    </div>
  </section>
  
  {% include navbar/navbar-drawer.html %}
  {% include app/footer.html %}
</body>
</html>
