<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  {% include app/meta.html %}

  {%- feed_meta -%}

  {%- include app/head.html -%}

</head>

<body>
  {% include navbar/navbar.html %}
  {% include page-types/hero.html %}
  
  <section class="container section-centered navy">
    {% include components/show-tiles.html %}
    <div class="content">
      {{ content }}
    </div>
  </section>

  {% assign pages = site.pages | where_exp: "page", "page.type contains 'welcome'" | sort: "order" %}
  {% for page in pages %}
    <section class="container">
      <h2>Kerri's Letter</h2>
    </section>
  {% endfor %}

  {% assign pages = site.pages | where_exp: "page", "page.type contains 'show'" | sort: "order" %}
  {% for page in pages %}
    {% include page-types/show.html %}
  {% endfor %}

  {% include page-types/playlist.html %}

  {% include navbar/navbar-drawer.html %}
  {% include app/footer.html %}
</body>
</html>
