<nav id="navDrawerPopover" class="nav-drawer" popover>
  <ul role="list">
    {% include components/menu-item.html
      href="#top"
      label="Introduction"
      color="white"  
    %}
    {% include components/menu-item.html
      href="#"
      label="CEO Letter"
      color="white"    
    %}
    
    {% assign pages = site.pages | where_exp: "page", "page.type contains 'show'" | sort: "order" %}
    {% for page in pages %}
      {% include components/menu-item.html
      href=page.page-link
      label=page.title
    %} 
    {% endfor %}
    <!-- # Todo: Loop through pages once they are created --> 


    {% include components/menu-item.html
      href="#playlist"
      label="Podcast Playlist"
      color="yellow"
      icon="playlist_play"
      aria-label="hidden"
    %}

    {% include components/menu-item.html
      href="https://give.prx.org/give/529551/#!/donation/checkout"
      color="cyan"
      campaign-id="529551"
      icon="favorite" 
      aria-label="hidden"
      label="Donate" 
    %}
  </ul>  
</nav>
