<header class="navbar">
  <nav class="flex items-center justify-between p-2">
    <div class="flex items-center">
      <button popovertarget="navDrawerPopover" class="btn white">
        <span class="material-icons">menu</span>
      </button>
      <a href="#" class="prx-logo">
        {% include svg/prx-logo-color.svg %} 
      </a>
    </div>
    <div class="flex items-center">
      {% include components/button-link.html
        href="#"
        color="yellow"
        icon="playlist_play" 
        aria-label="hidden"
        label="Playlist" 
      %}   
      {% include components/button-link.html
        href="https://give.prx.org/give/529551/#!/donation/checkout"
        color="cyan"
        campaign-id="529551"
        icon="favorite" 
        aria-label="hidden"
        label="Donate" 
      %}
    </div> 
  </nav>
</header>
