<div id="drawerBackdrop" class="fixed inset-0 bg-black opacity-50 hidden"></div>

<div id="drawer" class="fixed inset-y-0 left-0 w-[300px] bg-white shadow-lg transform -translate-x-full transition-transform duration-300 ease-in-out">
  <div class="p-4">
    <ul role="list" class="divide-y divide-gray-100">
      <li class="flex justify-between gap-x-6 px-2 py-2">
        <a href="#top" class="text-blue-600 hover:text-blue-300">Introduction</a>
      </li>
      <li class="flex justify-between gap-x-6 px-2 py-2">
        <a href="#">CEO Letter</a>
      </li>
    </ul>  
  </div>
</div>
