<header class="navbar">
    <nav>
      <button popovertarget="navDrawerPopover" class="btn white">
        <span class="material-icons">menu</span>
      </button>
      <a href="#" class="prx-logo">
        {% include svg/prx-logo-color.svg %}
      </a>
    </nav>
    <nav>
      {% include components/button-link.html
        href="#playlist"
        color="yellow"
        icon="playlist_play"
        aria-label="hidden"
        label="Playlist"
      %}
      {% include components/button-link.html
        href="https://give.prx.org/give/323700/#!/donation/checkout?c_src=Referral&c_src2=AnnualReport2024"
        color="cyan"
        campaign-id="323700"
        icon="favorite"
        aria-label="hidden"
        label="Donate"
      %}
    </nav>
</header>
